/** stylelint disable **/

/** forms **/
form label .required {
  padding-left: 5px;
  color: red;
}

form label p {
  margin-bottom: 5px;
  color: var(--darkgrey);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

form input[type="text"],
form input[type="email"],
form input[type="phone"] {
  border: 1px solid rgb(201 201 201 / 80%);
  border-radius: 4px;
  padding: 3px;
}

.form-row {
  display: flex;
  margin-bottom: 30px;
}
